services:
  backend:
    build: ./backend
    container_name: fastapi-backend
    ports:
      - "8000:8000"
    volumes:
      - ./backend/src:/app
    environment:
      - PYTHONUNBUFFERED=1
    extra_hosts:
      - "host.docker.internal:host-gateway"  # For Linux
    env_file:
      - ./backend/src/.env

  frontend:
    build: ./frontend
    container_name: vite-frontend
    ports:
      - "5173:5173"
    volumes:
      - ./frontend:/app
      - /app/node_modules  # Prevent host node_modules from overwriting container's
    environment:
      - VITE_BACKEND_URL=https://thinkly-production.up.railway.app
    depends_on:
      - backend
    env_file:
      - ./frontend/.env