permissions:
  contents: read
  pull-requests: write
  checks: write

name: Code Analysis
on:
  push:
    branches:
      - '**'
  pull_request:
    types: [opened, synchronize, reopened]
    
jobs:
  analysis:
    name: SonarQube and CodeCov
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          fetch-depth: 0 # Shallow clones should be disabled for a better relevancy of analysis
 
      # Frontend setup
      - name: Set up Node
        uses: actions/setup-node@v4

      - name: Install dependencies
        run: npm install
        working-directory: ./frontend

      - name: Run tests with coverage
        run: npm test -- --coverage --coverageDirectory=coverage
        working-directory: ./frontend

      #  Backend setup
      - name: Create virtual environment and install dependencies
        run: |
          python -m venv .venv
          source .venv/bin/activate
          pip install -r ./src/requirements.txt
        working-directory: ./backend

      - name: Run backend tests with coverage
        run: |
          source .venv/bin/activate
          pytest --cov=src --cov-branch --cov-report=xml:coverage.xml
        working-directory: ./backend
        env:
          PYTHONPATH: .

      - name: Debug - Frontend coverage directory
        run: ls -la ./frontend/coverage || echo "Frontend coverage directory not found"

      - name: Debug - Check for lcov.info
        run: cat ./frontend/coverage/lcov.info || echo "lcov.info not found"

      - name: Debug - Backend coverage directory
        run: ls -la ./backend/coverage.xml || echo "Backend coverage directory not found"
     
      - name: Debug - Check for coverage.xml
        run: cat ./backend/coverage.xml || echo "coverage.xml not found"

      - name: SonarQube Scan
        uses: SonarSource/sonarqube-scan-action@v6
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
        with:
          args: >
            -Dsonar.verbose=true
            -Dsonar.projectBaseDir=.
            -Dsonar.sources=./frontend/src,./backend/src
            -Dsonar.tests=./frontend/tests,./backend/tests
            -Dsonar.javascript.lcov.reportPaths=./frontend/coverage/lcov.info
            -Dsonar.python.coverage.reportPaths=./backend/coverage.xml
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }}
            -Dsonar.pullrequest.branch=${{ github.head_ref }}
            -Dsonar.pullrequest.base=${{ github.base_ref }}

      - name: SonarQube Summary
      #  uses: SonarSource/sonarqube-quality-gate-action@v1
        uses: SonarSource/sonarcloud-github-action@v2
        env:
          SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          args: >
            -Dsonar.verbose=true
            -Dsonar.projectBaseDir=.
            -Dsonar.sources=./frontend/src,./backend/src
            -Dsonar.tests=./frontend/tests,./backend/tests
            -Dsonar.javascript.lcov.reportPaths=./frontend/coverage/lcov.info
            -Dsonar.python.coverage.reportPaths=./backend/coverage.xml
            -Dsonar.pullrequest.key=${{ github.event.pull_request.number }}
            -Dsonar.pullrequest.branch=${{ github.head_ref }}
            -Dsonar.pullrequest.base=${{ github.base_ref }}

      - name: Upload frontend coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./frontend/coverage/lcov.info
          working-directory: ./frontend
          flags: frontend
          name: frontend
          fail_ci_if_error: false
          verbose: true

      - name: Upload backend coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./backend/coverage.xml
          working-directory: ./backend
          flags: backend
          name: backend
          fail_ci_if_error: false
          verbose: true
